body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #97b5d0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 15px 20px;
}

.logo img{
    width: 100px; 
    height: auto; 
}

.links a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.links a:hover {
    color: rgb(187, 224, 237);
    cursor: pointer;
}

.dbMaintain {
    display: none;
}

.dbContent {
    display: none;
}

.show {
    display: block;
}

.msg {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

#cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item {
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: left;
    border-radius: 5px;
    background: white;
}

.cart-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    margin-top: 10px;
}

#remove {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.cart-summary {
    margin-top: 20px;
    font-size: 1.2em;
}

#checkout-btn {
    margin: 20px auto 0;
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}
