<!DOCTYPE html>
<html lang="en" ng-app="OSPApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSP</title>
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="app.js" defer></script>
    <script src="navbar.js" defer></script>
    <script src="signin.js" defer></script>
    <script src="signup.js" defer></script>
    <script src="shopping.js" defer></script>
    <script src="cart.js" defer></script>
    <script src="payment.js" defer></script>
</head>
<body ng-controller="MainController" >
    <div ng-if="!isSignUpOrIn()">
      <nav class="navbar">
          <div class="logo">
            <img src="images/logo.png" alt="Logo">
          </div>
          <div class="links">
            <a ng-href="#!/">Home</a>
            <a ng-href="#!/about">About Us</a>
            <a ng-href="#!/signup" ng-if="!isUserLoggedIn" id="signup-link">Sign Up</a>
            <a ng-href="#!/signin" ng-if="!isUserLoggedIn" id="signin-link">Sign In</a>
            <a ng-href="#!/reviews">Reviews</a>
            <a ng-href="#!/services">Services</a>
            <a ng-href="#!/cart"><i class="fas fa-shopping-cart"></i></a>
            <a ng-href="#!/search">Search</a>
            <a ng-href="#!/signin" id="logout-link" ng-if="isUserLoggedIn" ng-click="logout()">Logout</a>
            <div class="dbMaintain" id="dbM">
              <button class="dropdownBtn" onclick="toggleDropdown()">DB Maintain</button>
              <div class="dbContent" id="dbDropDown">
                  <a ng-href="#!/insert">Insert</a>
                  <a ng-href="#!/update">Update</a>
                  <a ng-href="#!/delete">Delete</a>
                  <a ng-href="#!/select">Select</a>
              </div>
            </div>
          </div>
      </nav>
    </div>
    <div ng-view></div>
    <div ng-if="!isSignUpOrIn()">
      <footer>
          <p>&copy; 2025 EasyShop. All rights reserved.</p>
      </footer>
    </div>
</body>
</html>