<html lang="en" ng-app="OSPApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="Reviews.css">
    <script src="https://code.angularjs.org/1.5.0/angular.min.js" ></script>
    <script src="Reviews.js"></script>
</head>

<body ng-controller="reviewController">
    <div id="write"> 
        <button ng-click="toggleForm()">Write a Review</button>
        <form ng-show="showForm" ng-submit="submitReview()" id="reviewForm">
            <input type="hidden" ng-model="username">
            <label>
                <input type="text" ng-model="itemID" required>
                Enter the ID of the item
            </label><br>
            <label>
                <input type="text" ng-model="reviewText" required>
                Write a review
            </label><br>
    
            <div ng-repeat="n in [5,4,3,2,1]">
                <label>
                    <input type="radio" 
                           ng-model="$parent.rating" 
                           name="ratingGroup" 
                           value="{{n}}" 
                           required>
                    {{n}}
                </label><br>
            </div>
    
            <input type="submit" value="Submit Review">
        </form>
    </div>

    <div id="search">
        <p>Enter name or id of an item</p>
        <input type="text" ng-model="search"  />
    </div>

    <div id="reviewItems" ng-show="showItems">
        <table>
            <tr>
                <th>
                    <a href="" ng-click="sortField='name'; reverse=!reverse">Name</a>
                </th>
                <th>
                    <a href="" ng-click="sortField='id'; reverse=!reverse">ID</a>
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="item in items | filter:search | orderBy:sortField:reverse">
                <td>{{item.itemName}}</td>
                <td>{{item.itemId}}</td>
                <td><button ng-click="fetchReview(item.itemId)">view review</button></td>
            </tr>
        </table>
    </div>

    <div id="reviewTable" ng-show="showTable">
        <table>
            <tr>
                <th>
                    <a href="" ng-click="sortField='user'; reverse=!reverse">User</a>
                </th>
                <th>
                    <a href="" ng-click="sortField='review'; reverse=!reverse">Review</a>
                </th>
                <th>
                    <a href="" ng-click="sortField='rating'; reverse=!reverse">Rating</a>
                </th>
            </tr>

            <tr ng-repeat="review in reviews | orderBy:sortField:reverse">
                <td>{{review.username}}</td>
                <td>{{review.comment}}</td>
                <td>{{review.rating}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
